<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.udea.os.ahorcado"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <uses-sdk
        android:maxSdkVersion="19"
        android:minSdkVersion="8"
        android:targetSdkVersion="10" >
    </uses-sdk>

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="co.edu.udea.os.ahorcado.activities.login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name="co.edu.udea.os.ahorcado.activities.dashboard.BestRecordsActivity"
            android:label="@string/best_records_activity_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="co.edu.udea.os.ahorcado.activities.dashboard.DashboardActivity"
            android:label="@string/dashboard_activity_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="co.edu.udea.os.ahorcado.activities.game.GameBoardActitivy"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>